
.Inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
    color: #ffffff;
}





/* top navigation */
.navigation{   
    padding: 15px 150px;
    display: flex;
    /* max-width: 1600px; */
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.nav{
    display: flex;
    gap: 36px;
    width: 218px;
    height: 19px;
    font-size: 20px;
    font-weight: 500px;
}
.nav p:hover{
    color: #ff6ec7;

}

#btn{
    padding: 12px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#btn:hover{
    color: #4dcd2a;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 100, 200, 0.6);
}
.btn{
    padding: 12px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.btn:hover{
    color: #4dcd2a;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 100, 200, 0.6);
}


.handburger{
    display: none;
}    




/* Bannar Section */
.bannar-section{  
    /* max-width: 1600px; */
    height: 760px;
    background-image: url("../Icon/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.tec{
    font-size: 60px;
    font-weight: 800px;
    line-height: 73px;
    text-align: center;
}
.small{
    font-size: 16px;
    font-weight: 400px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.button{
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-top: 15px;
}
.cincle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px;
}
.microphone{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50%;
}

.microphone:hover{
    transform: rotate(40deg);
}
.wave{
    position: relative;
    top: -25%;
}
.new{
    background: #00ff9e;
    color: #1A0B2E;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    top: 200px;
    left: 700px;
    width: 70px;
}

.btn-normal{
    padding: 12px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    border: 2px solid #00ff9e;
    color: #00ff9e;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.btn-normal:hover{
    transform: rotate(30deg);  
}





/* About Section */
.about-section{  
    max-width: 1600px;
    height: 700px;
    padding: 50px 200px;
}

.about-sec{  
    max-width: 1500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.about{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    gap: 20px;
}
.peragraph1{
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
    
}

.peragraph2{
    text-align: center;
    margin-top: 30px;  
} 






   /* CARD */
.card4{
  
    gap: 10px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
}
.card4 h3{
    color: #00ff9e;
    font-size: 48px;
   text-align: center;

}
.card4 span{
    display: block;
    margin-top: 6px;
    color: white;
    font-size: 16px;
    text-align: center;
}
.icon5{
    width: 380px;
    height: px;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-peragraph{
    font-size: 15px;
    font-weight: 400;
}
.about{
    display: flex;
    justify-content: center;
}
.why-choose{  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(43, 24, 66, 0.4)rgba(35, 14, 61, 1);  
}

.container{
    padding: 20px;
    gap: 30px;   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
}
.box1{
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
    grid-row: span 2
    
}
.box2{
    grid-column: span 2;
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
}
.box3{
    grid-column: span 2;
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
}
.box4{
    grid-column: span 2;
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 20px;
}
.box44{
    height: 60px;
    width: 40px;
    
    display: flex;
}
.box5{
    grid-row: span 1;
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
    background-color: rgba(53, 17, 101, 0.4);
}





/* VIDEO */
.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-size: 48px;
    font-weight: 700;
    margin-top: 40px;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}
.youtube-video{    
    border-radius: 10px;
    background-color: rgba(37, 13, 68, 1);
}
.the-future{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;

}
.exploring{
    font-size: 16px;
    font-weight: 400;
    text-align: left;  
}
.bg-colour{
    height: 225px;
    width: 380px;
    padding: 24px;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 10px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 5px;
}
.meet{    
    gap: 50px;
    padding: 0px 80px;
}
.host{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 20px;    
}
.alex{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.tech{
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
}
.instra-futur{
    margin-left: 30px;
}
.linkdin-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
}







/* Footer */
.footer{ 
    height: 412px;
    background-image: url(../Icon/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
    border: 2px solid rgba(37, 13, 68, 1);
    background-color: rgba(37, 13, 68, 1);
    margin-top: 60px;
}
.footer-icon{
    padding: 0px 100px;
}

.techwave{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px; 
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
}
.twitter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.all-rights{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}







/* Responsiv */

@media screen and (max-width:576px) {
    .nav{
        display: none;
    }
    #btn{
        display: none;
    }
    .btn:hover{
        display: none;
    }
    .handburger{
        display: inline;
        margin-left: 55%;
    }
    .logo{
        margin-left: -50%;
    }
    
    .btn:hover{
        color: #4dcd2a;
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255, 100, 200, 0.6);
    }
    .new{
        left: 300px;
    }


    /* About */
    .about{
        width: 400px;
        height: 39px;
        text-align: center;
        font-size: 30px;
        line-height: 40px;
    }
    .peragraph1{
        width: 400px;
        height: 155px;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;  
    }
    .peragraph2{
        width: 400px;
        height: 155px;
        text-align: center;
        margin-top: 20px;
        font-size: 16px; 
    }


    /* CARD */
    .card4 h3{
        color: #00ff9e;
        font-size: 40px;
        text-align: center;

    }
    .card4 span{
        display: block;
        margin-top: 6px;
        color: white;
        font-size: 12px;
        text-align: center;
    }
    .card4{
        margin-left: -100px;
        display: grid;
        grid-template-columns: repeat(2,2fr)   
    }
    .container{
        padding: 40px 20px;
        gap: 18px;
        height: 1450px;
        width: 440px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex
    }
    .why-choose{
        align-items: center;
        justify-content: center; 
    }

    /* VIDEO */

    .video{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;  
    }
    .video-link{
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
   
    .host{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }


    /* Footer */
    .footer-icon{
        display: grid;
        grid-template-columns: repeat(2,2fr)
    }


}